<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appender name="Console out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="File out" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>"logs/archived/logback-%d{yyyy-MM-dd}.zip"</fileNamePattern>
            <maxHistory>20</maxHistory>
            <totalSizeCap>5KB</totalSizeCap>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{dd.MM.yyyy HH:mm:ss} [%thread] %-5level - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console out"/>
        <appender-ref ref="File out"/>
    </root>
</configuration>